# Read file

In [1]:
import os
from math_datasets.datasets import SVAMP, GSM8K

gemini_model_names = [
    # "gemini-2.0-flash",
    "gemma-3-27b-it",
]

/opt/miniconda3/envs/MA312/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from math_datasets.evaluator import evaluate_detail
import pandas as pd


df_gsm8k = evaluate_detail("gemma-3-27b-it", GSM8K, os.getcwd(), use_transformated_answers=False)
df_svamp = evaluate_detail("gemma-3-27b-it", SVAMP, os.getcwd(), use_transformated_answers=False)

df = pd.concat([df_gsm8k, df_svamp], ignore_index=True)
print(len(df), len(df_gsm8k), len(df_svamp))
df.head()

MPS (Metal Performance Shaders) is available! Using Apple Silicon GPU.
3802 3102 700

,question,answer,model_history,response,is_correct,ID,Body,Question,Equation,Answer,Type,question_concat
0,Natalia sold clips to 48 of her friends in Apr...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...,Error occured.,Error occured.,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,"[{'plan': {'steps': [[""First, we need to conve...",10.0000000000000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<...","[{'plan': {'steps': [['First, determine how mu...",5.00000000000000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....,"[{'plan': {'steps': [['First, calculate the nu...",42,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...,"[{'plan': {'steps': [['First, calculate the to...",624,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df[df["is_correct"] == True].copy()
print(len(df))
df.head()

3089

,question,answer,model_history,response,is_correct,ID,Body,Question,Equation,Answer,Type,question_concat
1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,"[{'plan': {'steps': [[""First, we need to conve...",10.0000000000000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<...","[{'plan': {'steps': [['First, determine how mu...",5.00000000000000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....,"[{'plan': {'steps': [['First, calculate the nu...",42,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...,"[{'plan': {'steps': [['First, calculate the to...",624,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Albert is wondering how much pizza he can eat ...,He eats 32 from the largest pizzas because 2 x...,"[{'plan': {'steps': [['First, calculate the to...",48,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.loc[:, "sft_label"] = df["model_history"].apply(
    lambda x: x[0]["plan"]["plan_string"]
)
df.head()

,question,answer,model_history,response,is_correct,ID,Body,Question,Equation,Answer,Type,question_concat,sft_label
1,Weng earns $12 an hour for babysitting. Yester...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,"[{'plan': {'steps': [[""First, we need to conve...",10.0000000000000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Plan: First, we need to convert the babysittin..."
2,Betty is saving money for a new wallet which c...,"In the beginning, Betty has only 100 / 2 = $<<...","[{'plan': {'steps': [['First, determine how mu...",5.00000000000000,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Plan: First, determine how much money Betty cu..."
3,"Julie is reading a 120-page book. Yesterday, s...",Maila read 12 x 2 = <<12*2=24>>24 pages today....,"[{'plan': {'steps': [['First, calculate the nu...",42,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Plan: First, calculate the number of pages Jul..."
4,James writes a 3-page letter to 2 different fr...,He writes each friend 3*2=<<3*2=6>>6 pages a w...,"[{'plan': {'steps': [['First, calculate the to...",624,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Plan: First, calculate the total number of pag..."
6,Albert is wondering how much pizza he can eat ...,He eats 32 from the largest pizzas because 2 x...,"[{'plan': {'steps': [['First, calculate the to...",48,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Plan: First, calculate the total number of sli..."

In [5]:
prompt = """For the following task, make a detailed step-by-step plan to solve the problem.  
For each step, choose **one tool** to retrieve or calculate the necessary information.  
The tool output should be stored in a variable like #E1, #E2, etc., which can be used in later steps.

Tools available:
(1) LLM[input]: A pretrained language model like yourself. Use this to reason through parts of the problem using general knowledge or logic. Input can be a natural language instruction.
(2) Calculator[input]: Use this for basic arithmetic operations (e.g., addition, subtraction, multiplication, division). Input must be a valid math expression like "290 / 2".

**Do not solve the problem directly. Only write the plan and tool inputs.**  
Each step must follow this format:
Plan: [describe the reasoning for the step] #EX = Tool[tool input]

---

Begin!  
Describe your plans with rich details. Each Plan must be followed by exactly one #E.

Task: {task}"""

df = df[["question", "sft_label"]]
df = df.rename(columns={"sft_label": "output"})
df["input"] = df["question"].apply(
    lambda x: prompt.format(task=x)
)
df = df[["question", "input", "output"]]
df.head()

,question,input,output
1,Weng earns $12 an hour for babysitting. Yester...,"For the following task, make a detailed step-b...","Plan: First, we need to convert the babysittin..."
2,Betty is saving money for a new wallet which c...,"For the following task, make a detailed step-b...","Plan: First, determine how much money Betty cu..."
3,"Julie is reading a 120-page book. Yesterday, s...","For the following task, make a detailed step-b...","Plan: First, calculate the number of pages Jul..."
4,James writes a 3-page letter to 2 different fr...,"For the following task, make a detailed step-b...","Plan: First, calculate the total number of pag..."
6,Albert is wondering how much pizza he can eat ...,"For the following task, make a detailed step-b...","Plan: First, calculate the total number of sli..."

In [6]:
print("Input:\n" +df.iloc[0]["input"])
print("Output:\n" + df.iloc[0]["output"])

Input:
For the following task, make a detailed step-by-step plan to solve the problem.
For each step, choose **one tool** to retrieve or calculate the necessary information.
The tool output should be stored in a variable like #E1, #E2, etc., which can be used in later steps.

Tools available:
(1) LLM[input]: A pretrained language model like yourself. Use this to reason through parts of the problem using general knowledge or logic. Input can be a natural language instruction.
(2) Calculator[input]: Use this for basic arithmetic operations (e.g., addition, subtraction, multiplication, division). Input must be a valid math expression like "290 / 2".

**Do not solve the problem directly. Only write the plan and tool inputs.**
Each step must follow this format:
Plan: [describe the reasoning for the step] #EX = Tool[tool input]

---

Begin!
Describe your plans with rich details. Each Plan must be followed by exactly one #E.

Task: Weng earns $12 an hour for babysitting. Yesterday, she just did 50 minutes of babysitting. How much did she earn?
Output:
Plan: First, we need to convert the babysitting time from minutes to hours. There are 60 minutes in an hour, so we'll divide the minutes by 60 to get the time in hours. #E1 = Calculator[50 / 60]
Plan: Now that we have the babysitting time in hours, we can calculate Weng's earnings by multiplying her hourly rate by the number of hours she worked. #E2 = Calculator[12 * #E1]

In [16]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
df.to_csv("train_data.csv", index=False)

In [7]:
def format_chat(example):
    user_message = example["input"]
    assistant_message = example["output"]
    messages = [
        {"role": "user", "content": user_message},
        {"role": "assistant", "content": assistant_message}
    ]
    return messages

df["messages"] = df.apply(format_chat, axis=1)
df.to_json("rewoo_train_data.jsonl", orient="records", lines=True)